@import '~styles/variables';
@import '~styles/mixins';

* { 
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background-color: $background_color;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.container {
    flex: 1 0 auto;

    > .container__header {
        height: 55px;
        width: 100%;
        background-color: $main_color;

        .header__text {
          margin: 0 auto;
          width: 900px;
          font-size: 23px;
          font-weight: 600;
          color: goldenrod;
          padding-top: 13px;
        }
    }

    > .container__main-content {
      &.report {
        &:before {
            content: ' ';
            left: 0;
            top: 60px;
            display: block;
            position: absolute;
            width: 100%;
            height: 533px;
            opacity: 0.55;
            z-index: 2;
            background-color: white;
        }
      }
    }

    > .container__main-content, .container__report {
       max-width: 1060px;
       width: 1060px;       
       margin: 30px auto;
       display: flex;
       flex-direction: row;
       justify-content: space-between;

       .main-content__left-side {
         width: auto;
       }

       .main-content__right-side {
         width: 100%;
         margin-left: 25px;
         display: flex;
         flex-direction: column;
         @include shadow_light();
         @include border_light();
       }
    }
}

.footer {
  > .footer__container {
        background-color: $footer_color;
        text-align: center;
        padding: 9px;
        
        .text {
          color: grey;
        }
  }
}